/* body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
} */

:root {
   --blue: #6495ed;
   --white: #faf0e6;
   --brightlight: #ffffff;
   --shadowred: #ef1045;
   --highlight-top: red;
   --highlight-bottom: yellow;
}

body,
html {
   box-sizing: border-box;
   padding: 0rem;
   margin: 0rem;
   /* background-color: white; */
}

html {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   /* height: 100%; */
   min-height: 100%;
   background-image: linear-gradient(
      15deg,
      #060d18 0%,
      #0a111f 16%,
      #0c1426 33%,
      #0c172e 50%,
      #0b1a35 66%,
      #0a1c3d 83%,
      #081f45 100%
   );
   color: white;
}

section .title {
}

h1.title {
   font-family: "CF Dots 521", sans-serif;
   /* font-size: 4rem; */
   /* font-size: 4rem; */
   font-size: 4.5rem;
   color: #f1f0ec;
   line-height: 140%;
   letter-spacing: 0.01em;
   text-align: center;
}

.NeonLightTextEm {
   text-shadow: rgba(255, 255, 255, 20) 0 0 0.1875em,
      rgba(239, 253, 255, 20) 0 0 0.375em,
      rgba(239, 253, 255, 20) 0 0 0.5625em,
      rgba(239, 109, 109, 80) 0 -0.234375em 0.75em,
      rgba(19, 19, 239, 80) 0 -0.234375em 0.75em;
}

.my-flex {
   display: flex;
}

.my-flex-reverse {
   display: flex;
   flex-direction: row-reverse;
   /* justify-content: end; */
}

.my-padding-right {
   padding-right: 3rem;
}

.my-relative {
   position: relative;
}

.my-spacer-5rem {
   margin-top: 5rem;
}

.my-margin-auto {
   margin: auto;
}

.my-width-60 {
   width: 60%;
}

.max-width-text-box {
   max-width: 35rem;
}

.text-box-wrapper-0 {
   /* max-width: 250px; */
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   padding: 1rem;
   position: relative;
   /* background: linear-gradient(to right, red, purple); */
   background: linear-gradient(to right, #ea3223, #d10070);
   padding: 3px;
}

/* .text-box {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: blue;
  background-image: linear-gradient(15deg, #060d18 0%, #0a111f 16%, #0c1426 33%, #0c172e 50%, #0b1a35 66%, #0a1c3d 83%, #081f45 100%);
  background-image: linear-gradient(15deg, hsl(221, 59%, 14%) 0%, hsl(219, 66%, 16%) 66%, hsl(219, 72%, 17%) 83%, hsl(217, 79%, 18%) 100%);
} */

.text-box {
   /* border: 1px solid rgba(255,200,100,1); */
   border: none;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background: blue;
   background-image: linear-gradient(
      15deg,
      #060d18 0%,
      #0a111f 16%,
      #0c1426 33%,
      #0c172e 50%,
      #0b1a35 66%,
      #0a1c3d 83%,
      #081f45 100%
   );
   /* background-image: linear-gradient(180deg, #060d18 0%, #081f45 100%) */
   /* background-image: linear-gradient(195deg, #060d18 0%, #0a111f 16%, #0c1426 33%, #0c172e 50%, #0b1a35 66%, #0a1c3d 83%, #081f45 100%); */
   /* background-image: linear-gradient(15deg, #0c172e 0%, #0b1a35 66%, #0a1c3d 83%, #081f45 100%); */
   /* background-image: linear-gradient(15deg, hsl(221, 59%, 11%) 0%, hsl(219, 66%, 13%) 66%, hsl(219, 72%, 14%) 83%, hsl(217, 79%, 15%) 100%); */
   /* background-image: linear-gradient(15deg, hsl(221, 59%, 11%) 0%, hsl(219, 66%, 13%) 66%, hsl(219, 72%, 14%) 83%, hsl(217, 79%, 15%) 100%); */
   /* background-image: linear-gradient(15deg, hsl(221, 59%, 16%) 0%, hsl(219, 66%, 18%) 66%, hsl(219, 72%, 19%) 83%, hsl(217, 79%, 20%) 100%); */
   /* background-image: linear-gradient(15deg, hsl(221, 59%, 15%) 0%, hsl(219, 66%, 17%) 66%, hsl(219, 72%, 18%) 83%, hsl(217, 79%, 19%) 100%); */
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 14%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 83%,
      hsl(217, 79%, 18%) 100%
   );
   /* background-image: linear-gradient(15deg, hsl(221, 59%, 13%) 0%, hsl(219, 66%, 15%) 66%, hsl(219, 72%, 16%) 83%, hsl(217, 79%, 17%) 100%); */
   /* padding: 5em 3em; */
   /* border-image: linear-gradient(90deg, #234318 0%, #ff111f 100%); */
   /* border-image: linear-gradient(red, yellow); */
}

.text-in-box {
   color: #fff3c6;
   font-family: VCR OSD Mono;
   font-weight: Regular;
   font-size: 1.44rem;
   line-height: 1.4375rem;
   line-height: 1.84rem;
   opacity: 1;
   padding: 3.7rem 3rem;
}

.linear-gradient-text-0 {
   background: -webkit-linear-gradient(
      0deg,
      #e55639,
      #f03b8a
   );
   background: -webkit-linear-gradient(
      0deg,
      #ea3223,
      #d10070
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.my-position-relative {
   position: relative;
   display: block;
}

figure {
   position: sticky;
   left: 0;
   /* width: 100%; */
}

.figure {
   position: sticky;
   left: 0;
   /* width: 100%; */
}

figure.country {
   /* border-radius: 10px; */
   border-radius: 20px;
   background-color: red;
   background: blue;
   background-image: linear-gradient(
      15deg,
      #060d18 0%,
      #0a111f 16%,
      #0c1426 33%,
      #0c172e 50%,
      #0b1a35 66%,
      #0a1c3d 83%,
      #081f45 100%
   );
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 14%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 83%,
      hsl(217, 79%, 18%) 100%
   );
}

article {
   position: relative;
   margin: 0 auto;
}

.article {
   position: relative;
   margin: 0 auto;
}

.step {
   margin: 0 auto 12 rem auto;
}

.step:last-child {
   margin-bottom: 0;
}

.step:is-active {
   background-color: yellow;
}

.step p {
   text-align: center;
}

.temp-red-border {
   border: 1px solid red;
}

.my-font-vcr {
   font-family: VCR OSD Mono;
   font-weight: Regular;
   font-size: 1.44rem;
}

.font-size-3rem {
   font-size: 3rem;
}

.font-size-20rem {
   font-size: 5rem;
}

.reduce-opacity {
   opacity: 20%;
}

.is-active {
   opacity: 100%;
}

.step {
   margin-bottom: 42rem;
}

.step:last-child {
   margin-bottom: 0;
}

/* text-box-wrapper
text-box
linear-gradient-text */

.text-box-wrapper {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

   padding: 1rem;
   position: relative;
   background: linear-gradient(to right, red, purple);
   padding: 3px;
}

.text-box {
   border: none;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background: blue;
   background-image: linear-gradient(
      15deg,
      #060d18 0%,
      #0a111f 16%,
      #0c1426 33%,
      #0c172e 50%,
      #0b1a35 66%,
      #0a1c3d 83%,
      #081f45 100%
   );
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 14%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 83%,
      hsl(217, 79%, 18%) 100%
   );
}

.linear-gradient-text {
   background: -webkit-linear-gradient(0deg, red, purple);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.text-box-wrapper-0 {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   padding: 1rem;
   position: relative;
   background: linear-gradient(to right, #ea3223, #d10070);
   padding: 3px;
}

.text-box-2 {
   border: none;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background: blue;
}

.linear-gradient-text-2 {
   background: -webkit-linear-gradient(
      90deg,
      #524c4c 0%,
      #6c6763 16%,
      #88837c 33%,
      #a4a195 50%,
      #c2bfaf 66%,
      #e0dfca 83%,
      hsl(60, 100%, 95%) 100%
   );
   background: -webkit-linear-gradient(
      hsl(0, 0%, 93%),
      hsl(0, 0%, 20%)
   );
   background: -webkit-linear-gradient(
      90deg,
      #333333 0%,
      #4f4f4f 16%,
      #6c6c6c 33%,
      #8b8b8b 50%,
      #acacac 66%,
      #cdcdcd 83%,
      #f0f0f0 100%
   );
   background: -webkit-linear-gradient(
      90deg,
      #474747 0%,
      #4f4f4f 16%,
      #6c6c6c 33%,
      #8b8b8b 50%,
      #acacac 66%,
      #cdcdcd 83%,
      #f0f0f0 100%
   );
   background: -webkit-linear-gradient(
      90deg,
      #404242 0%,
      #514d4d 16%,
      #716969 33%,
      #928686 50%,
      #b5a5a5 66%,
      #dac4c4 83%,
      #ffe5e5 100%
   );
   background: -webkit-linear-gradient(
      90deg,
      #514d4d 0%,
      #716969 16%,
      #716969 33%,
      #928686 50%,
      #b5a5a5 66%,
      #dac4c4 83%,
      #ffe5e5 100%
   );
   background: -webkit-linear-gradient(
      90deg,
      #404242 0%,
      #514d4d 2%,
      #716969 33%,
      #928686 40%,
      #b5a5a5 66%,
      #dac4c4 83%,
      #ffe5e5 100%
   );
   background: -webkit-linear-gradient(
      90deg,
      #404242 0%,
      #514d4d 2%,
      #716969 33%,
      #928686 40%,
      #b5a5a5 66%,
      #dac4c4 83%,
      #ffe5e5 100%
   );
   /* background: -webkit-linear-gradient(100deg, #404242 0%, #514d4d 2%, #716969 33%, #928686 40%, #b5a5a5 66%, #dac4c4 83%, #ffe5e5 100%); */
   background: -webkit-linear-gradient(
      100deg,
      hsl(180, 2%, 75%) 0%,
      #514d4d 2%,
      #716969 33%,
      #928686 40%,
      #b5a5a5 66%,
      #dac4c4 83%,
      #ffe5e5 100%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.text-box-3 {
   border: none;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

   background-image: linear-gradient(
      15deg,
      #060d18 0%,
      #0a111f 16%,
      #0c1426 33%,
      #0c172e 50%,
      #0b1a35 66%,
      #0a1c3d 83%,
      #081f45 100%
   );
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 14%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 83%,
      hsl(217, 79%, 18%) 100%
   );
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 44%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 83%,
      hsl(217, 79%, 88%) 100%
   );
   background-image: linear-gradient(
      15deg,
      hsl(221, 59%, 44%) 0%,
      hsl(219, 66%, 16%) 66%,
      hsl(219, 72%, 17%) 95%,
      rgba(118, 164, 239, 30) 100%
   );
}

.linear-gradient-text-3 {
   background: -webkit-linear-gradient(
      0deg,
      #e55639,
      #f03b8a
   );
   background: -webkit-linear-gradient(
      0deg,
      #ea3223,
      #d10070
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.GlowingBorder {
}

.GlowingBorder {
   position: relative;
   /* width: 450px; */
   padding: 40px 0;
   font-size: 5em;
   color: #fff;
   text-align: center;
   letter-spacing: 5px;
   background-image: linear-gradient(
      0deg,
      rgba(256, 0, 0, 0.1),
      rgba(256, 256, 0, 0.1)
   );
   /* ^ % //glass!!! */
}

.GlowingBorder::after {
   content: "";
   position: absolute;
   top: -5px;
   left: -5px;
   right: -5px;
   bottom: -5px;
   /* top: -65px;
  left: -15px;
  right: -15px;
  bottom: -15px; */
   /* top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px; */
   /* top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; */
   /* top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px; */
   /* background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2); */
   /* border: 5px solid rgb(255, 216, 0, .3); */
   /* border: 5px solid linear-gradient(45deg, red, green);
  border: 5px solid green; */
   /* border: 5px solid;
  border-image: linear-gradient(45deg, purple, orange) 1; */
   /* border: 5px solid linear-gradient(45deg, rgb(255, 216, 0), rgb(255, 85, 32), rgb(117, 12, 242), rgb(12, 188, 242)); */
   /* border: 5px solid linear-gradient(45deg, rgba(255, 216, 0, 1), rgba(255, 85, 32, 1), rgba(117, 12, 242, 1), rgba(12, 188, 242, 1)); */
   /* border: 5px solid linear-gradient(rgba(255, 85, 32, 1), rgba(117, 12, 242, 1), rgba(12, 188, 242, 1)); */
   border: 5px solid;
   /* border-image: linear-gradient(45deg, rgb(255, 216, 0), rgb(255, 85, 32), rgb(117, 12, 242), rgb(12, 188, 242)) 1; */
   border-image: linear-gradient(
         45deg,
         rgb(255, 216, 0),
         rgb(255, 85, 32),
         rgb(117, 12, 242),
         rgb(12, 188, 242)
      )
      0.5;
   z-index: -1;
   /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
   /* border-radius: 10px; */
   /* border-radius: 25px;   */
}

.GlowingBorder::before {
   content: "";
   position: absolute;
   /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   /* top: 100;
  left: 100;
  right: 100;
  bottom: 100; */
   background: linear-gradient(
      45deg,
      #ffd800,
      #ff5520,
      #750cf2,
      #0cbcf2
   );
   z-index: -2;
   filter: blur(40px);
   /* filter: blur(140px); */
   /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 25px; */
}

/* h1.text-square { */
.GlowingBorder {
   font-family: "CF Dots 521", sans-serif;
   font-size: 3rem;
   color: #f1f0ec;
   line-height: 140%;
   letter-spacing: 0.01em;
   /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.special-characters {
   font-family: "Danger on the Motorway";
   font-size: 0.8em;
}

.style-main {
   position: relative;
   display: block;
}
